
{% extends "base.html" %}
{% block content %}
<table class="table table-bordered table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">ردیف</th>
      {% for header in table_header %}
      <th scope="col">{{ header }} </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ contact.employee_name}}</td>
      <td>{{ contact.company_name }}</td>
      <td>{{ contact.city }}</td>
      <td>{{ contact.org_position }}</td>
      <td>{{ contact.interal_phone }}</td>
      <td>{{ contact.phone }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
